    <h1>Giỏ hàng1</h1>
{{#if cart}}
  <table>
    <tr>
      <th>Sản phẩm</th>
      <th>Giá</th>
      <th>Số lượng</th>
      <th>Thao tác</th>
    </tr>
    {{#each cart}}
    <tr>
      <td>{{this.name}}</td>
      <td>{{this.price}}</td>
      <td>{{this.quantity}}</td>
      <td>
        <form action="/cart/remove/{{this.id}}" method="POST">
          <button type="submit">Xóa</button>
        </form>
      </td>
    </tr>
    {{/each}}
  </table>
  <h3>Tổng: {{totalPrice}}</h3>
  <form action="/cart/checkout" method="POST">
    <button type="submit">Thanh toán</button>
  </form>
{{else}}
  <p>Giỏ hàng trống.</p>
{{/if}}
